body{
background:linear-gradient(135deg,#121212,#1DB954);
height:100vh;
display:flex;
align-items:center;
justify-content:center;
font-family:Arial;
}

.music-player{
background:#181818;
padding:30px;
width:320px;
border-radius:20px;
text-align:center;
color:white;
}

.cover{
width:100%;
border-radius:15px;
margin-bottom:20px;
}

.controls{
display:flex;
justify-content:center;
gap:20px;
}
